<h1>REPORTE TAREAS</h1>

<table border="1">
  <thead>
    <tr>
      <th style="width: 5%;">#</th>
      <th style="width: 37.5%;">Nombre</th>
      <th style="width: 15%;">Fecha Límite</th>
      <th style="width: 5%;">Term?</th>
      <th style="width: 37.5%;">Empleado</th>
    </tr>
  </thead>
  <tbody>
    {% for t in tareas %}
        <tr>
          <td style="text-align:center;">{{ t.id }}</td>
          <td>{{ t.nombre }}</td>
          <td style="text-align:center;">{{ t.fecha_limite }}</td>
          <td style="text-align:center;"> {% if t.terminada == True %} SI
               {% else %} NO
               {% endif %}
          </td>
          <td>{{ t.empleado.apellidos }} {{ t.empleado.nombres }}</td>
        </tr>
        {% endfor %}
  </tbody>
</table>