{% extends 'base.html' %}
{% block content %}
  
  <a href="{% url 'tareas_crear' %}" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i> Nueva
  </a>
  
  <a href="{% url 'reporte' %}" class="btn btn-danger" target="_newtab">
    <i class="fa-solid fa-file-pdf"></i> PDF
  </a>

<h1>LISTADO DE TAREAS</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">#</th>
      <th scope="col" style="width: 25%;">Nombre</th>
      <th scope="col" style="width: 10%;">Fecha Límite</th>
      <th scope="col" style="width: 5%;">Terminada?</th>
      <th scope="col" style="width: 45%;">Empleado</th>
      <th scope="col" style="width: 10%;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for t in tareas %}
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.nombre }}</td>
          <td>{{ t.fecha_limite }}</td>
          <td> {% if t.terminada == True %} <span class="badge bg-success">SI</span>
               {% else %} <span class="badge bg-danger">NO</span>
               {% endif %}
          </td>
          <td>{{ t.empleado.apellidos }} {{ t.empleado.nombres }}</td>
          <td style="text-align: center">
            <div class="btn-group" role="group">
            {% if t.terminada == False %}
            <form method="POST" action="{% url 'tareas_terminar' t.id %}" autocomplete="off">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-circle-check"></i></button>
            </form>

            <a href="{% url 'tareas_editar' t.id %}" class="btn btn-warning btn-sm">
              <i class="fa-solid fa-pen-clip"></i>
            </a>
            
            <form method="POST" action="{% url 'tareas_eliminar' t.id %}" autocomplete="off">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </form>
            {% else %}
            <span class="badge bg-secondary">Sin acciones</span>
            {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
  </tbody>
</table>

{% endblock content %}