{% extends 'base.html' %}
{% block content %}

<a href="{% url 'tareas' %}">Volver</a>

<h2>EDITAR TAREA</h2>

<form method="POST" action="{% url 'tareas_actualizar' tarea.id %}" autocomplete="off">
    {% csrf_token %}

    <label>NOMBRE:</label><br>
    <input type="text" name="nombre" value="{{ tarea.nombre }}"><br>
    
    <label>DESCRIPCION:</label><br>
    <textarea name="descripcion" rows="4" cols="50">{{ tarea.descripcion }}</textarea><br>

    <label>FECHA LIMITE:</label><br>
    <input type="date" name="fecha_limite" value="{{ tarea.fecha_limite | date:'c' }}" ><br>
    
    <label>EMPLEADO: {{ tarea.empleado.apellidos }}  {{ tarea.empleado.nombres }} </label><br>
    <select name="empleado">
        <option value="{{ tarea.empleado.id }}" selected>- Para modificar empleado, seleccione un valor -</option>
        {% for e in empleados %}
            <option value="{{ e.id }}">
                {{ e.apellidos }} {{ e.nombres }}
            </option>
        {% endfor %}
    </select>
    <br><br>
    <button type="submit">ACTUALIZAR</button>
    <a href="{% url 'tareas' %}">
        VOLVER
      </a>
</form> 
{% endblock content %}